body {
    background-color: rgb(0, 0, 0);
}

.circle {
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

.logo img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-size: 40px;
}

h1:hover {
    color: rgb(245, 85, 37);
    cursor: pointer;
}

p {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -25px;
}

p:hover {
    color: rgb(245, 85, 37);
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 50px;
}

.login button {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: rgb(245, 85, 37);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.login button:hover {
    background-color: rgb(255, 140, 84);
    color: black;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 50px;
}

.signup button {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: rgb(245, 85, 37);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.signup button:hover {
    background-color: rgb(255, 140, 84);
    color: black;
}

.food {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.food1 {
    width: 120px;
    height: 120px;
    background-color: rgb(245, 85, 37);
    flex-direction: column;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;

}

.food1 h1,
.food1 p {
    margin: 5px 0;
    
}
.food1 h1{
    font-size: 25px;
}



.food-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}

.food1 h1:hover {
    color: rgb(2, 2, 2);
    cursor: pointer;
}

.food1 p:hover {
    color: rgb(2, 2, 2);
    cursor: pointer;
}


.food-pic {
    position: relative;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.food-pic img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.food-pic img.foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.cart-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: rgb(255, 255, 254);
    z-index: 2;
    cursor: pointer;
}

.header-icons {
    position: absolute;
    top: 20px;
    right: 60px;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
    z-index: 10;
}

.header-icons i:hover {
    color: orange;
    cursor: pointer;
}

.header-icons i {
    transition: color 0.3s;
}

.food-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.food-category h1 {
  color:  #ff6600; 
  font-size: 20px;
}

.food-category h1:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.food-items-row {
    display: flex;                    
    justify-content: space-between;   
    gap: 05px;                       
    flex-wrap: wrap;                 
}

.food-card {
    display: flex;
    flex-direction: column;           
    align-items: center;
    transition: transform 0.3s;      
}

.food-card img {
    width: 100px;                      
    border-radius: 10px;
}

.food-card h3, .food-card h4 {
    margin: 5px 0;
    text-align: left;
    color: beige;
}

.food-card button {
    padding: 5px 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.food-card button:hover {
    background-color: #e55b00;
    transform: scale(1.05);          
}

.food-card:hover {
    transform: translateY(-5px);      
}
.card1 h1{
    text-align: left;
    color: #e55b00;
    font-size: 20px;

}
.card1:hover h1{
    color: white;
}



.food-items-row2 {
    display: flex;                    
    justify-content: space-between;   
    gap: 05px;                       
    flex-wrap: wrap;                 
}

.food-card1 {
    display: flex;
    flex-direction: column;           
    align-items: center;
    transition: transform 0.3s;      
}

.food-card1 img {
    width: 100px;                      
    border-radius: 10px;
}

.food-card1 h3, .food-card1 h4 {
    margin: 5px 0;
    text-align: left;
    color: beige;
}

.food-card1 button {
    padding: 5px 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.food-card1 button:hover {
    background-color: #e55b00;
    transform: scale(1.05);          
}

.food-card1:hover {
    transform: translateY(-5px);      
}